n8n/minimal_ai_ingestion_pipeline.json
{
  "name": "Minimal AI Ingestion Pipeline (v2)",
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c999cce5-ec7a-4886-ad21-f93786db1fed",
      "name": "Extract Text",
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.data || JSON.stringify($json);\nreturn { text };"
      },
      "id": "e2ebb4d1-8765-4be7-a679-e9b0669e7bdf",
      "name": "Normalize Text",
      "position": [
        400,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nconst webhookData = $('Upload webhook').first().json || {};\nconst document_id = webhookData.body?.document_id || webhookData.document_id || null;\n// The file name is usually in binary metadata, but let's try to get it if passed or default to Desconhecido\nconst filename = webhookData.body?.filename || webhookData.filename || 'Desconhecido';\n\nconst size = 500;\nlet chunks = [];\n\nfor (let i = 0; i < text.length; i += size) {\n  chunks.push({\n    pageContent: text.slice(i, i + size),\n    document_id: document_id,\n    metadata: {\n      filename: filename\n    }\n  });\n}\n\nreturn chunks;"
      },
      "id": "2cf21e6c-26df-4ef0-9c1c-0f38c7003014",
      "name": "Chunking Node",
      "position": [
        608,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c1d35f90-e467-4d8c-98c9-f464af9388f5",
      "name": "Split In Batches",
      "position": [
        816,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texts: [$json.pageContent], model: \"embed-multilingual-v3.0\", input_type: \"search_document\" }) }}\n\n",
        "options": {}
      },
      "id": "cb3ecfdb-d037-407a-a312-f1a6c46399a5",
      "name": "Cohere Embeddings",
      "position": [
        1008,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "tableId": "chunks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.texts[0] }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.embeddings[0] }}"
            },
            {
              "fieldId": "document_id",
              "fieldValue": "={{ $('Split In Batches').item.json.document_id }}"
            }
          ]
        }
      },
      "id": "7a44cbcb-5d67-490c-ade3-a77462bb7ea4",
      "name": "Supabase Vector Store Node",
      "position": [
        1216,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "jcqfDFakXYfgxzlv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"stored\"\n}",
        "options": {}
      },
      "id": "ddac94dc-516f-47eb-b740-a8200cb0abc2",
      "name": "Respond to Webhook",
      "position": [
        1136,
        256
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.text, sources: $(\"Final_Context_Assembler\").first().json.sources || [] }) }}",
        "options": {}
      },
      "id": "ddd16ca6-d2c5-43f4-a1a8-21cee553c932",
      "name": "Respond_to_Webhook",
      "position": [
        1584,
        528
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e26d4d55-d616-4d4e-8978-55f102bef9e7",
      "name": "Upload webhook",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "bf6b6995-fa9b-456e-9f14-cb6dcd21d319"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8c8e088f-b024-4e83-a880-f296f2de0122",
      "name": "Search webhook",
      "position": [
        -80,
        512
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "7784fdda-b222-41f4-9c58-d1ada07f7e92"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texts: [ typeof $json.body === \"string\" ? JSON.parse($json.body).query : $json.body.query ], model: 'embed-multilingual-v3.0', input_type: 'search_query' }) }}",
        "options": {}
      },
      "id": "bb28492a-284e-40cd-81ea-62d3b43b44b8",
      "name": "Cohere Embedding Node",
      "position": [
        176,
        720
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $(\"Search webhook\").first().json;\nconst currentData = $json;\n\nlet finalQuery = \"\";\n\nif (webhookData.query && typeof webhookData.query === 'string') {\n  finalQuery = webhookData.query;\n} else if (webhookData.body && webhookData.body.query) {\n  finalQuery = webhookData.body.query;\n} else if (currentData.query && typeof currentData.query === 'string') {\n  finalQuery = currentData.query;\n} else {\n  const values = Object.values(webhookData);\n  finalQuery = values.find(v => typeof v === 'string') || \"Pergunta não detectada\";\n}\n\nreturn [{\n  body: {\n    p_embedding: $json.embeddings[0],\n    p_threshold: 0.1,\n    p_count: 15\n  },\n  query: finalQuery\n}];"
      },
      "id": "37e1b0ef-3627-432e-929b-f0cddacb5d9b",
      "name": "Format_Data_For_Search_Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet context = \"\";\nlet sources = [];\nconst uniqueSources = new Map();\n\nif (items.length > 0) {\n  context = items.map((item, index) => {\n    let text = item.json.content || item.json.text || \"\";\n    let filename = item.json.metadata?.filename || item.json.filename || \"Desconhecido\";\n    let docId = item.json.document_id;\n    let category = item.json.metadata?.category || \"Regulamentos\";\n    \n    // Create source button data\n    if (docId && !uniqueSources.has(docId)) {\n        uniqueSources.set(docId, true);\n        sources.push({ \n            title: filename, \n            category: category,\n            updatedAt: new Date().toLocaleDateString('pt-PT'),\n            snippet: text.substring(0, 800) + (text.length > 800 ? \"...\" : \"\")\n        });\n    }\n    return `[Fonte: ${filename}]:\\n${text}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\nconst query = $(\"Format_Data_For_Search_Final\").first().json.query;\n\nreturn [{\n  cohereBody: {\n    model: \"command-r-plus-08-2024\",\n    message: `Pergunta: ${query}`,\n    preamble: `És um assistente preciso e analítico. Responde APENAS com base no contexto fornecido abaixo. Se a resposta não estiver no contexto, diz que não sabes.\\n\\nATENÇÃO: O contexto abaixo é formado por múltiplos fragmentos de documentos. Cada fragmento começa com [Fonte: Nome_do_Ficheiro]. Na tua resposta, deves sempre referenciar as fontes utilizadas indicando o nome do ficheiro (ex: \"De acordo com o ficheiro X...\").\\n\\nContexto:\\n${context || \"Nenhum documento relevante encontrado.\"}`,\n    temperature: 0.2\n  },\n  sources: sources\n}];"
      },
      "id": "f19974fb-7d32-48c7-a080-7ee7338e66b2",
      "name": "Final_Context_Assembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        528
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "354d1fdf-bbb0-4aa2-bea4-eabb338e684b",
      "name": "Merge_Query_Embedding_v2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gcxqjjbeobrmbuwdnvwy.supabase.co/rest/v1/rpc/match_chunks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "aa252d57-c29e-470d-9e3a-ccb82917e344",
      "name": "Supabase_RPC_Search_Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cohereBody }}",
        "options": {}
      },
      "id": "c786c358-2500-44de-a18c-0486169b9496",
      "name": "Cohere_Chat_Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        528
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chunking Node": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Chunking Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Cohere Embeddings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store Node": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Embeddings": {
      "main": [
        [
          {
            "node": "Supabase Vector Store Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload webhook": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search webhook": {
      "main": [
        [
          {
            "node": "Cohere Embedding Node",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_Query_Embedding_v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Embedding Node": {
      "main": [
        [
          {
            "node": "Merge_Query_Embedding_v2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_Query_Embedding_v2": {
      "main": [
        [
          {
            "node": "Format_Data_For_Search_Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_Data_For_Search_Final": {
      "main": [
        [
          {
            "node": "Supabase_RPC_Search_Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_RPC_Search_Manual": {
      "main": [
        [
          {
            "node": "Final_Context_Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final_Context_Assembler": {
      "main": [
        [
          {
            "node": "Cohere_Chat_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere_Chat_Node": {
      "main": [
        [
          {
            "node": "Respond_to_Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4cd35d97-73a9-4619-984f-328d93a0a04c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8f395193caa3bc39aade7d6e74488229f6d7de80e7d77fba56cfa96f42a6551"
  },
  "id": "wzsspG0RNXdfbVqQ",
  "tags": [
    {
      "updatedAt": "2026-07-02T21:06:38.009Z",
      "createdAt": "2026-07-02T21:06:38.009Z",
      "id": "F5YQmRxL47YafnJa",
      "name": "test_version"
    }
  ]
}