n8n/minimal_ai_ingestion_pipeline.json
{
  "updatedAt": "2026-07-02T13:42:46.713Z",
  "createdAt": "2026-06-30T09:56:57.673Z",
  "id": "zcmHTNrR8pa8ZhMZ",
  "name": "Minimal AI Ingestion Pipeline",
  "description": "Minimal AI Ingestion Pipeline",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-1",
      "name": "Extract Text",
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.data || JSON.stringify($json);\nreturn { text };"
      },
      "id": "code-1",
      "name": "Normalize Text",
      "position": [
        400,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nconst webhookData = $('Upload webhook').first().json || {};\nconst document_id = webhookData.body?.document_id || webhookData.document_id || null;\n// The file name is usually in binary metadata, but let's try to get it if passed or default to Desconhecido\nconst filename = webhookData.body?.filename || webhookData.filename || 'Desconhecido';\n\nconst size = 500;\nlet chunks = [];\n\nfor (let i = 0; i < text.length; i += size) {\n  chunks.push({\n    pageContent: text.slice(i, i + size),\n    document_id: document_id,\n    metadata: {\n      filename: filename\n    }\n  });\n}\n\nreturn chunks;"
      },
      "id": "code-2",
      "name": "Chunking Node",
      "position": [
        608,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-1",
      "name": "Split In Batches",
      "position": [
        816,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texts: [$json.pageContent], model: \"embed-multilingual-v3.0\", input_type: \"search_document\" }) }}\n\n",
        "options": {}
      },
      "id": "cohere-1",
      "name": "Cohere Embeddings",
      "position": [
        1008,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "tableId": "chunks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.texts[0] }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.embeddings[0] }}"
            },
            {
              "fieldId": "document_id",
              "fieldValue": "={{ $json.document_id }}"
            }
          ]
        }
      },
      "id": "supabase-1",
      "name": "Supabase Vector Store Node",
      "position": [
        1216,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "WsOYbn7vb8UBqWe9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"stored\"\n}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "position": [
        1136,
        256
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.text, sources: $(\"Final_Context_Assembler\").first().json.sources || [] }) }}",
        "options": {}
      },
      "id": "36bb6b18-e289-4a24-970f-c4e21237266d",
      "name": "Respond_to_Webhook",
      "position": [
        1584,
        528
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Upload webhook",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "bf6b6995-fa9b-456e-9f14-cb6dcd21d319"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "131a5daf-225d-4f98-a9f0-3891c36884cd",
      "name": "Search webhook",
      "position": [
        -80,
        512
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "7784fdda-b222-41f4-9c58-d1ada07f7e92"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texts: [$json.body && $json.body.query ? $json.body.query : ($json.query || '')], model: 'embed-multilingual-v3.0', input_type: 'search_query' }) }}",
        "options": {}
      },
      "id": "ea688db7-71ea-419f-ada0-ff6f6fa77671",
      "name": "Cohere Embedding Node",
      "position": [
        176,
        720
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $(\"Search webhook\").first().json;\nconst currentData = $json;\n\nlet finalQuery = \"\";\n\nif (webhookData.query && typeof webhookData.query === 'string') {\n  finalQuery = webhookData.query;\n} else if (webhookData.body && webhookData.body.query) {\n  finalQuery = webhookData.body.query;\n} else if (currentData.query && typeof currentData.query === 'string') {\n  finalQuery = currentData.query;\n} else {\n  const values = Object.values(webhookData);\n  finalQuery = values.find(v => typeof v === 'string') || \"Pergunta não detectada\";\n}\n\nreturn [{\n  body: {\n    p_embedding: $json.embeddings[0],\n    p_threshold: 0.1,\n    p_count: 15\n  },\n  query: finalQuery\n}];"
      },
      "id": "3d83eafd-c570-4f41-9514-28a923181e47",
      "name": "Format_Data_For_Search_Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet context = \"\";\nlet sources = [];\nconst uniqueSources = new Map();\n\nif (items.length > 0) {\n  context = items.map((item, index) => {\n    let text = item.json.content || item.json.text || \"\";\n    let filename = item.json.metadata?.filename || item.json.filename || \"Desconhecido\";\n    let docId = item.json.document_id;\n    let category = item.json.metadata?.category || \"Regulamentos\";\n    \n    // Create source button data\n    if (docId && !uniqueSources.has(docId)) {\n        uniqueSources.set(docId, true);\n        sources.push({ \n            title: filename, \n            category: category,\n            updatedAt: new Date().toLocaleDateString('pt-PT'),\n            snippet: text.substring(0, 800) + (text.length > 800 ? \"...\" : \"\")\n        });\n    }\n    return `[Fonte: ${filename}]:\\n${text}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\nconst query = $(\"Format_Data_For_Search_Final\").first().json.query;\n\nreturn [{\n  cohereBody: {\n    model: \"command-r-plus-08-2024\",\n    message: `Pergunta: ${query}`,\n    preamble: `És um assistente preciso e analítico. Responde APENAS com base no contexto fornecido abaixo. Se a resposta não estiver no contexto, diz que não sabes.\\n\\nATENÇÃO: O contexto abaixo é formado por múltiplos fragmentos de documentos. Cada fragmento começa com [Fonte: Nome_do_Ficheiro]. Na tua resposta, deves sempre referenciar as fontes utilizadas indicando o nome do ficheiro (ex: \"De acordo com o ficheiro X...\").\\n\\nContexto:\\n${context || \"Nenhum documento relevante encontrado.\"}`,\n    temperature: 0.2\n  },\n  sources: sources\n}];"
      },
      "id": "a6a920e7-b6ff-4b35-b2a9-621302206fec",
      "name": "Final_Context_Assembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        528
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "81dc6764-aab7-4bd3-b666-17055d7b83b7",
      "name": "Merge_Query_Embedding_v2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gcxqjjbeobrmbuwdnvwy.supabase.co/rest/v1/rpc/match_chunks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "8afd0b15-e76b-4a65-8893-3e6257541192",
      "name": "Supabase_RPC_Search_Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cohereBody }}",
        "options": {}
      },
      "id": "2edbcee5-a69c-43bb-a076-13d961a80ce1",
      "name": "Cohere_Chat_Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        528
      ]
    }
  ],
  "connections": {
    "Chunking Node": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split In Batches",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Text",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Chunking Node",
            "type": "main"
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cohere Embeddings",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase Vector Store Node": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split In Batches",
            "type": "main"
          }
        ]
      ]
    },
    "Cohere Embeddings": {
      "main": [
        [
          {
            "node": "Supabase Vector Store Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Text",
            "type": "main"
          }
        ]
      ]
    },
    "Search webhook": {
      "main": [
        [
          {
            "node": "Cohere Embedding Node",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_Query_Embedding_v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Embedding Node": {
      "main": [
        [
          {
            "node": "Merge_Query_Embedding_v2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_Query_Embedding_v2": {
      "main": [
        [
          {
            "node": "Format_Data_For_Search_Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_Data_For_Search_Final": {
      "main": [
        [
          {
            "node": "Supabase_RPC_Search_Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_RPC_Search_Manual": {
      "main": [
        [
          {
            "node": "Final_Context_Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final_Context_Assembler": {
      "main": [
        [
          {
            "node": "Cohere_Chat_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere_Chat_Node": {
      "main": [
        [
          {
            "node": "Respond_to_Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "7ae5d9f2-5cec-4e90-926d-a0bb316ef52e",
  "activeVersionId": "7ae5d9f2-5cec-4e90-926d-a0bb316ef52e",
  "versionCounter": 31,
  "triggerCount": 2,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-30T09:56:57.675Z",
      "createdAt": "2026-06-30T09:56:57.675Z",
      "role": "workflow:owner",
      "workflowId": "zcmHTNrR8pa8ZhMZ",
      "projectId": "YSspsOCI0cGX659j",
      "project": {
        "updatedAt": "2026-06-30T09:54:29.800Z",
        "createdAt": "2026-06-30T09:53:59.447Z",
        "id": "YSspsOCI0cGX659j",
        "name": "Cristiano realchrisvibez@gmail.com <realchrisvibez@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "f366da65-ce21-4bdf-b3f7-4b51967228e4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-02T13:42:46.714Z",
    "createdAt": "2026-07-02T13:42:46.714Z",
    "versionId": "7ae5d9f2-5cec-4e90-926d-a0bb316ef52e",
    "workflowId": "zcmHTNrR8pa8ZhMZ",
    "nodes": [
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "id": "extract-1",
        "name": "Extract Text",
        "position": [
          208,
          0
        ],
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.data || JSON.stringify($json);\nreturn { text };"
        },
        "id": "code-1",
        "name": "Normalize Text",
        "position": [
          400,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "const text = $json.text;\nconst size = 500;\n\nlet chunks = [];\n\nfor (let i = 0; i < text.length; i += size) {\n  chunks.push({\n    pageContent: text.slice(i, i + size)\n  });\n}\n\nreturn chunks;"
        },
        "id": "code-2",
        "name": "Chunking Node",
        "position": [
          608,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 1
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "split-1",
        "name": "Split In Batches",
        "position": [
          816,
          0
        ],
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cohere.ai/v1/embed",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ texts: [$json.pageContent], model: \"embed-multilingual-v3.0\", input_type: \"search_document\" }) }}\n\n",
          "options": {}
        },
        "id": "cohere-1",
        "name": "Cohere Embeddings",
        "position": [
          1008,
          0
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4
      },
      {
        "parameters": {
          "tableId": "chunks",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "content",
                "fieldValue": "={{ $json.texts[0] }}"
              },
              {
                "fieldId": "embedding",
                "fieldValue": "={{ $json.embeddings[0] }}"
              },
              {
                "fieldId": "document_id",
                "fieldValue": "={{ $json.document_id }}"
              }
            ]
          }
        },
        "id": "supabase-1",
        "name": "Supabase Vector Store Node",
        "position": [
          1216,
          0
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "credentials": {
          "supabaseApi": {
            "id": "WsOYbn7vb8UBqWe9",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"stored\"\n}",
          "options": {}
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "position": [
          1136,
          256
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ answer: $json.text, sources: $(\"Final_Context_Assembler\").first().json.sources || [] }) }}",
          "options": {}
        },
        "id": "36bb6b18-e289-4a24-970f-c4e21237266d",
        "name": "Respond_to_Webhook",
        "position": [
          1584,
          528
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "upload",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Upload webhook",
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "bf6b6995-fa9b-456e-9f14-cb6dcd21d319"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "query",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "131a5daf-225d-4f98-a9f0-3891c36884cd",
        "name": "Search webhook",
        "position": [
          -80,
          512
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "7784fdda-b222-41f4-9c58-d1ada07f7e92"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cohere.ai/v1/embed",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ texts: [$json.body && $json.body.query ? $json.body.query : ($json.query || '')], model: 'embed-multilingual-v3.0', input_type: 'search_query' }) }}",
          "options": {}
        },
        "id": "ea688db7-71ea-419f-ada0-ff6f6fa77671",
        "name": "Cohere Embedding Node",
        "position": [
          176,
          720
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4
      },
      {
        "parameters": {
          "jsCode": "const webhookData = $(\"Search webhook\").first().json;\nconst currentData = $json;\n\nlet finalQuery = \"\";\n\nif (webhookData.query && typeof webhookData.query === 'string') {\n  finalQuery = webhookData.query;\n} else if (webhookData.body && webhookData.body.query) {\n  finalQuery = webhookData.body.query;\n} else if (currentData.query && typeof currentData.query === 'string') {\n  finalQuery = currentData.query;\n} else {\n  const values = Object.values(webhookData);\n  finalQuery = values.find(v => typeof v === 'string') || \"Pergunta não detectada\";\n}\n\nreturn [{\n  body: {\n    p_embedding: $json.embeddings[0],\n    p_threshold: 0.1,\n    p_count: 15\n  },\n  query: finalQuery\n}];"
        },
        "id": "3d83eafd-c570-4f41-9514-28a923181e47",
        "name": "Format_Data_For_Search_Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          528
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nlet context = \"\";\nlet sources = [];\n\nif (items.length > 0) {\n  context = items.map((item, index) => {\n    let text = item.json.content || \"\";\n    let filename = item.json.metadata?.filename || item.json.filename || \"Desconhecido\";\n    let docId = item.json.document_id;\n    if (!sources.some(s => s.document_id === docId)) {\n        sources.push({ document_id: docId, filename: filename });\n    }\n    return `[Fonte: ${filename}]:\\n${text}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\nconst query = $(\"Format_Data_For_Search_Final\").first().json.query;\n\nreturn [{\n  cohereBody: {\n    model: \"command-r-plus-08-2024\",\n    message: `Pergunta: ${query}`,\n    preamble: `És um assistente preciso e analítico. Responde APENAS com base no contexto fornecido abaixo. Se a resposta não estiver no contexto, diz que não sabes.\\n\\nATENÇÃO: O contexto abaixo é formado por múltiplos fragmentos de documentos. Cada fragmento começa com [Fonte: Nome_do_Ficheiro]. Na tua resposta, deves sempre referenciar as fontes utilizadas indicando o nome do ficheiro (ex: \"De acordo com o ficheiro X...\").\\n\\nContexto:\\n${context || \"Nenhum documento relevante encontrado.\"}`,\n    temperature: 0.2\n  },\n  sources: sources\n}];"
        },
        "id": "a6a920e7-b6ff-4b35-b2a9-621302206fec",
        "name": "Final_Context_Assembler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          528
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "81dc6764-aab7-4bd3-b666-17055d7b83b7",
        "name": "Merge_Query_Embedding_v2",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          416,
          528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://gcxqjjbeobrmbuwdnvwy.supabase.co/rest/v1/rpc/match_chunks",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
              },
              {
                "name": "Authorization",
                "value": "Bearer sb_publishable_LaKnyhFolHEkCtp1kJxp7Q_O8DwCkqO"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body }}",
          "options": {}
        },
        "id": "8afd0b15-e76b-4a65-8893-3e6257541192",
        "name": "Supabase_RPC_Search_Manual",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          912,
          528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cohere.ai/v1/chat",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer lNKEGwRiOGNC2zaKOHIpCzz0IDiOPzUOIYq3VTiG"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.cohereBody }}",
          "options": {}
        },
        "id": "2edbcee5-a69c-43bb-a076-13d961a80ce1",
        "name": "Cohere_Chat_Node",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1376,
          528
        ]
      }
    ],
    "connections": {
      "Chunking Node": {
        "main": [
          [
            {
              "index": 0,
              "node": "Split In Batches",
              "type": "main"
            }
          ]
        ]
      },
      "Extract Text": {
        "main": [
          [
            {
              "index": 0,
              "node": "Normalize Text",
              "type": "main"
            }
          ]
        ]
      },
      "Normalize Text": {
        "main": [
          [
            {
              "index": 0,
              "node": "Chunking Node",
              "type": "main"
            }
          ]
        ]
      },
      "Split In Batches": {
        "main": [
          [
            {
              "index": 0,
              "node": "Cohere Embeddings",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Supabase Vector Store Node": {
        "main": [
          [
            {
              "index": 0,
              "node": "Split In Batches",
              "type": "main"
            }
          ]
        ]
      },
      "Cohere Embeddings": {
        "main": [
          [
            {
              "node": "Supabase Vector Store Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Extract Text",
              "type": "main"
            }
          ]
        ]
      },
      "Search webhook": {
        "main": [
          [
            {
              "node": "Cohere Embedding Node",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge_Query_Embedding_v2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cohere Embedding Node": {
        "main": [
          [
            {
              "node": "Merge_Query_Embedding_v2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge_Query_Embedding_v2": {
        "main": [
          [
            {
              "node": "Format_Data_For_Search_Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format_Data_For_Search_Final": {
        "main": [
          [
            {
              "node": "Supabase_RPC_Search_Manual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase_RPC_Search_Manual": {
        "main": [
          [
            {
              "node": "Final_Context_Assembler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Final_Context_Assembler": {
        "main": [
          [
            {
              "node": "Cohere_Chat_Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cohere_Chat_Node": {
        "main": [
          [
            {
              "node": "Respond_to_Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Cristiano realchrisvibez@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-02T13:42:46.803Z",
        "id": 11,
        "workflowId": "zcmHTNrR8pa8ZhMZ",
        "versionId": "7ae5d9f2-5cec-4e90-926d-a0bb316ef52e",
        "event": "activated",
        "userId": "f366da65-ce21-4bdf-b3f7-4b51967228e4"
      },
      {
        "createdAt": "2026-07-02T13:42:46.778Z",
        "id": 10,
        "workflowId": "zcmHTNrR8pa8ZhMZ",
        "versionId": "7ae5d9f2-5cec-4e90-926d-a0bb316ef52e",
        "event": "deactivated",
        "userId": "f366da65-ce21-4bdf-b3f7-4b51967228e4"
      }
    ]
  }
}